ul.seltelUl {
	font-family: "Amatic SC", sans-serif;
	list-style-position: inside;
	max-width: 100%;
	background: white;
	box-shadow: 0.25rem 0.25rem 0.75rem rgb(0 0 0 / 0.15);
	padding: 0;
	margin: 0;
	border-radius: 0.1rem;
	max-width: 700px;
}
li.selectedLi i{
	font-size: 0.5em;
}

li.selectedLi {
	font-weight: 400;
	font-family: "Amatic SC", sans-serif;
	font-style: normal;
	font-size: x-large;
	list-style-type: none;
	padding: 0 1rem 0 1rem;
	text-align: start;
}

li.selectedLi:not(:last-child) {
	border-bottom: 1px solid silver;
}

li.selectedLifirst-child {
	margin-top: 1rem;
}

li.selectedLi:last-child {
	margin-bottom: 1rem;
}